<h1>FAQ</h1>

<h2>Member Instructions</h2>

<h3>How do I create/edit my profile?</h3>
<p>
If you hit the <b>Check Request</b> button on the homepage without a profile, you will be taken to a screen where you can create 
a profile. On this page, you can enter your address, phone number, and UIN. Your UIN must be 9 digits long(ex: 123456789), and your phone number 
must be 10 digits long with no hyphens or parentheses(ex:1234567890). Once you have entered your information, press the <b>Create Person</b> button 
to create your profile. To edit your profile, navigate to the <b>Profile</b> page using the side bar on any page that is not the home page. Then, hit 
the <b>Modify My Profile</b> button to go a page where you can edit your information. Once you have made changes, press the <b>Update Person</b> button 
to update your profile.
</p>

<h3>How do I create a check?</h3>
<p>
To create a check, press the <b>Check Request</b> button on the home page. If you have not yet created a profile, you will be prompted to make a new one.
Once you have a profile you will be taken to a page where you can see all of your pending checks. To create a new check, press the 
<b>Create New Form</b> button. Here, you can enter all the information necessary to create your form. Once you have filled everything in, 
press the <b>Create Check</b> button. You will be taken to a page where you can upload pictures of your reciept. To do this, press the <b> Create New Note</b> button. 
Then, you can press the <b>Choose File</b> button, where you then can attach a picture of your reciept from your device. To complete the upload, press the 
<b>Create Note</b> button. 
</p>

<h3>How can I edit a check?</h3>
<p>
You can only edit checks that are pending. To edit a check, press the <b>Check Request</b> button on the home page. This will take you to a page that
lists your pending checks. Press the <b>Show this Form</b> button under the check you want to edit. Next, press the <b>Edit this Form</b> button. This will 
take you to a page where you can edit your check. Once you have made the changes you wish to make, press the <b>Update Check</b> button to update your check. If 
you need to add more reciepts to your submission, press the <b>Add Attachment(s)</b> button to upload new pictures. 
</p>

<h3>How can I see my past submissions? </h3>
<p>
To see your past requests that have already been reviewed by an officer, press the <b>Check Request</b> button on the homepage, then press the <b>Past Submission(s)</b> 
button near the top of the page. This page will display all check requests made by you that have been reviewed by an officer. To filter your past requests to only 
see requests that have been approved, press the <b>Show All Approved Forms</b> button. To see only requests that have been denied, press the <b>Show All Denied Forms</b> button. 
To reset the filter and see all past forms, press the <b>Show All Past Forms</b> button.
</p>