<div id="<%= dom_id note %>">
  <p>
    <strong>Name:</strong>
    <%= note.name %>
  </p>

  <p>
    <strong>Url: Click on the link to download and view</strong>
    <a href="<%= note.avatar_url %>" target="_blank"><%= note.avatar_url %></a>
  </p>
</div>
