<div id="<%= dom_id note %>">
  <p>
    <strong>Picture:</strong>
    <%= note.picture %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= note.name %>
  </p>

  <p>
    <strong>Form:</strong>
    <%= note.form_id %>
  </p>

</div>
