<%= stylesheet_link_tag "application" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<h1 style="text-align: center;">New Note</h1>

<p style="text-align: center;">Please upload your reciept below. Must be a itemized reciept, showing ONE credit card per request</p>

<%= render "form", note: @note %>

<br>

<div style="text-align: center; padding-top: 20px">
  <%= link_to "Back to Note(s)", check_notes_path(@note.check), class: "create-person" %>
</div>
