<%= stylesheet_link_tag "application" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<body>
    <div class="my-profile">
        <h1>Modify Profile</h1>

        <%= render "form", person: @person %>

        <br>
        <br>
        <div>
            <%= link_to "Back to Profiles", people_path, class: "create-person", style: "padding-left: 500px" %>
        </div>
    </div>
</body>
