<h1>People#edit</h1>
<p>Find me in app/views/people/edit.html.erb</p>

<%= render "form", person: @person %>

<br>

<div>
    <%= link_to "Show this Profile", @person %> |
    <%= link_to "Back to Profiles", people_path %>
</div>