<div id="<%= dom_id sub_account %>">
    <p>
        <strong>Sub-Account Number:</strong>
        <%= sub_account.sub_account_number %>

        <br>

        <strong>Sub-Account Owner:</strong>
        <%= sub_account.owner_name %>
        
    </p>
</div>