<%= stylesheet_link_tag "application" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<h1>SubAccounts#edit</h1>
<p>Find me in app/views/sub_accounts/edit.html.erb</p>

<%= render "form", sub_account: @sub_account %>

<br>

<div>
    <link_to "Show this sub-account", @sub_account %> |
    <%= link_to "Back to homepage", sub_accounts_path %>