<%= stylesheet_link_tag "application" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<h1 style="text-align: center;">Edit SubAccount</h1>

<%= render "form", sub_account: @sub_account %>

<br>

<div style="text-align: center; margin-top: 20px;">
    <%= link_to "Show this SubAccount", @sub_account, class: "create-person", style: "margin-right: 10px;"%> 

    <%= link_to "Back to SubAccounts", sub_accounts_path, class: "create-person", style: "margin-left: 10px;"%>
</div>