<h1>SubAccounts#new></h1>
<p>Find me in app/views/sub_accounts/new.html.erb</p>

<%= render "form", sub_account: @sub_account %>

<br>

<div>
    <%= link_to "Back to homepage", sub_accounts_path%>
</div>