<%= stylesheet_link_tag "application" %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<h1>Edit Form</h1>


<%= render "form", check: @check %>

<br>

<div style="text-align: center; margin-top: 20px;">
    <%= link_to "Show this form", @check, class: "create-person"%> |
    <%= link_to "Back to homepage", checks_path, class: "create-person"%>
</div>
