<h1>Checks#edit</h1>
<p>Find me in app/views/checks/edit.html.erb</p>

<%= render "form", check: @check %>

<br>

<div>
    <%= link_to "Show this form", @check %> |
    <%= link_to "Back to homepage", checks_path %>
</div>
