/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: rgb(130, 119, 116); /* Set text color */
  font-family: "Arial";
}

body {
  min-height: 100vh;
  font-family: "Arial";
  background-color: rgb(238, 217, 196);
  color: rgb(130, 119, 116); /* Set text color */
}

.admins-sessions-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 850px;
}

.icon-container {
  position: fixed;
  top: 0;
  width: 100%;
  /* padding-top: 40px; */
  transform: scale(1.5); 
  z-index: 999; /* Set a high z-index value to ensure it's displayed on top */

}

.icon-image {
  height: auto;
  max-width: 100px;
  max-height: 100px;
  transform: scale(1.75); 
  padding-bottom: 70px;
  z-index: 999; /* Set a high z-index value to ensure it's displayed on top */
}

.login-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 100px 200px 70px;
}

.user-icon-container {
  text-align: center;
}

.user-icon {
  font-size: 3em;
}

.btn-contain {
  text-align: center;
  display: inline-block;
  color: rgb(130, 119, 116); /* Set text color */
  font-size: 27px;
  height: 40px;
  width: 150px;
  padding-top: 80px;
  text-decoration: none;
  letter-spacing: 1px;
  transition: font-size 0.2s ease-in-out;
}

.btn-wide {
  text-decoration: none;
  letter-spacing: 1px;
  transition: font-size 0.2s ease-in-out;
  color: rgb(130, 119, 116); /* Set text color */
}

.btn-contain:hover {
  font-size: 30px;
}

.picture-section {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 850px;
  width: 500px;
}

.picture-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%; /* Adjust the width as needed */
  height: 100%;
  background: linear-gradient(to left, 
  rgb(238, 217, 196, 0), 
  rgb(238, 217, 196, 0.075), 
  rgb(238, 217, 196, 0.15),
  rgb(238, 217, 196, 0.3),
  rgb(238, 217, 196, 0.45),
  rgb(238, 217, 196, 0.65),
  rgb(238, 217, 196, 0.8),  
  rgb(238, 217, 196, 0.9), 
  rgb(238, 217, 196, 0.95), 
  rgb(238, 217, 196, 1));
}


#carousel {
  width: 100%;
  height: 850px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .icon-container {
    flex-direction: column; /* Stack icons vertically on smaller screens */
    max-width: 98.5%;
  }

  .login-container {
    display: flex;
    flex-direction: column; /* Stack sections vertically on smaller screens */
    max-width: 1100px;
    height: 600px;
    overflow: hidden;
    position: relative;
    flex: 1; /* Allow the login section to grow to fill available space */
    padding: 20px;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 550px;
  padding-top: 50px;
}

.profile {
  font-size: 25px; /* Increase font size */
  padding-top: 25px; /* Add padding to the top */
  padding-left: 20px; /* Add padding to the left */
  font-family: "Arial";
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(238, 217, 196);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  padding: 12px 16px;
  z-index: 1;
}

/* Show the dropdown content on hover */
.profile:hover .dropdown-content {
  display: block;
}

.btn-container {
  text-align: center;
  margin-top: 5px;
  width: 100%;
  height: 80px;
  padding-bottom: 290px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  font-size: 20px;
  height: 25px;
  color: rgb(238, 217, 196); /* Set text color */
  text-decoration: none;
  transition: font-size 0.2s, color 1s ease-in-out;
  letter-spacing: 1.5px;
}

.btn:hover {
  font-size: 22px;
}

.root {
  font-weight: 1000;
  font-size: 54px;
  color: rgb(238, 217, 196); /* Set text color */
  text-decoration: none;
  letter-spacing: 1px;
}

.navbar {
  width: 38px;
  display: block;
  position: fixed;
  top: 15px;
  right: 10px;
  padding: 3px 10px;
  transition: all 0.5s;
}

.navbar div {
  height: 4px;
  background: rgb(130, 119, 116);
  margin: 8px 0px 7px 0px;
  border-radius: 20px;
  transition: all 0.5s;
}

.navbar .two {
  width: 30px;
}

.navbar .three {
  width: 35px;
}

.navbar:hover div {
  width: 40px;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 999; /* Ensure it appears above other content */
  opacity: 0; /* Initially transparent */
  transition: opacity 0.75s; /* Smooth transition for opacity */
  pointer-events: none; /* Make it ignore mouse events when hidden */
}

.nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0; /* Initially off-screen to the right */
  width: 100%; 
  height: 100%;
  background-color: rgb(130, 119, 116); 
  z-index: 1000; /* Ensure it appears above the overlay */
  transform: translateX(100%); /* Initially off-screen */
  transition: transform 0.5s; /* Smooth transition */
}

.nav-overlay.show {
  opacity: 1; /* Make it fully opaque when shown */
  pointer-events: auto; /* Enable mouse events when shown */
}

.nav-content.show {
  transform: translateX(0); 
  opacity: 0.99;
}

.title {
  font-size: 99px; /* Increase font size for the title */
  text-align: center; /* Center align the title */
}

.description {
  padding-top: -20px;
  font-size: 36px; /* Increase font size for the description */
  text-align: center; /* Center align the description */
}

.my-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other-profile {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
  justify-content: space-around; /* Distributes items evenly with space around them */
  padding-left: 0px;
  gap: 20px; /* Adds space between the forms */
}

.modify-person {
  text-decoration: none;
  letter-spacing: 2px;
  color: rgb(130, 119, 116);
  /* border: 2px solid rgb(130, 119, 116); */
  width: 600px;
  height: 170px;
  font-size: 15px;
  padding-top: 10px;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: -150px; /* Adjust this value to control the overlap */
  transition: font-size 0.2s;
  
}

.modify-person:hover {
  font-size: 16px;
}

.create-person {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  height: 25px;
  color: rgb(130, 119, 116);
  text-decoration: none;
  transition: font-size 0.2s, color 1s ease-in-out;
  letter-spacing: 1.5px;
}

.create-person:hover {
  font-size: 21px;
}

.edit-person {
  background-color: white; 
  color: rgb(130, 119, 116); 
  font-family: Arial; 
  border: 1px solid rgb(130, 119, 116);
  font-size: 16px;
}

.refresh-icon-container {
  margin-left: auto;
}

.refresh-button {
  color: rgb(130, 119, 116);
  margin-right:8px;
  font-size: 16px;
  transition: font-size 0.2s ease-in-out;
  vertical-align: middle;
}

.refresh-button:hover {
  font-size: 1.2em;
}

#search {
  padding: 3px 5px;
}

.search-box {
  position: relative;
  display: inline-block;
}

.adminpage {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  height: 25px;
  color: rgb(130, 119, 116);
  text-decoration: none;
  transition: font-size 0.2s, color 1s ease-in-out;
  letter-spacing: 1.5px;
}

.adminpage:hover {
  font-size: 16px;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
  text-align: center;
  margin-top: 20px; 
}

.no-results p {
  width: 100%;
  margin: 0; 
  font-size: 16px; 
}

.email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}

.field, .actions {
  margin: 0 auto 20px; 
  width: fit-content; 
}

tr:hover {
  background-color: rgb(256, 235, 214); 
}

.check-request {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  height: 25px;
  color: rgb(130, 119, 116);
  text-decoration: none;
  transition: font-size 0.2s, color 1s ease-in-out;
  letter-spacing: 1.5px;
}